* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #000;
    color: white;
    height: 100vh;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10; 
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    flex: 1;
    text-align: left;
}

.center-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #ccc;
}

.hero-section {
    background-image: url('/assets/img/forarma.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

.content {
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: left;
    color: white;
    z-index: 3; 
}

h1 {
    font-size: 24px; 
    color: white;
}

