/* Стили для главной страницы */

.hero-section {
    background-image: url('/assets/img/I_need_to_make_a_picture_for_the_main_page_of_the_\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.content {
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: left;
    color: white;
    z-index: 3;
}

.section-divider {
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7));
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 3;
}

.news-section {
    padding: 100px 0;
    text-align: center;
}

.news-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(61, 55, 55, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.news-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f0;
}

.hero-section, .news-section, .aboutus-section {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

